
@media only screen and (max-width: 1366px){
	.card-main li {
		width: 18.4%;
	}
	.card-main li:last-child {
	    margin-right: 0;
	}
}
@media only screen and (max-width: 380px){
	.card-main li {
		width: 100%;
	}
}